<div>
    <i><b><quote></quote></b></i>
</div>
<div class="menu">
    <ul>
    <li><a class='button' routerLink='./home'>Home</a></li>
    <li><a class='button' routerLink='./news'>HorizoNews</a></li>
    <li><a class='button' routerLink='./course'>Programs / Courses</a></li>
    <li><a class='button' routerLink='./faculty'>Faculty</a></li>
    <li><a class='button' routerLink='./register'>Admission / Registration</a></li>
    <li><a class='button' routerLink='./resource'>e-sources</a></li>
    <li><a class='button' routerLink='./contact'>Contact Us</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>