<br>
<br>
<div class="seventh">
    <br>
   <u  style="color:#eb2121;"> <h1 style="text-align: center;color:#eb2121">Contact Us:</h1></u>

    <h2 style="border: 1px rgb(141, 21, 21); text-align: center;color:#eb2121">Mobile Number:- +1 (202) 885-1000, +1103456</h2>
<br>

    <u  style="color:#eb2121;"><h1 style="text-align: center;color:#eb2121">Address:</h1></u>
    <h2><p style="text-align: center;font-family: cursive;color:#eb2121">American University, Washington, District of Columbia, United States</p>
    <p style="text-align: center;font-family: cursive;color:#eb2121">Pin:- 897653</p></h2>
<br>
<br>
<br>
    <u style="color:#eb2121;"><h1 style="text-align: center;color:#eb2121">Location:</h1></u>
    <a href="https://goo.gl/maps/BqVGNjm61PrnvE5y9">
    <img src="../assets/image08.jpg" alt="" style="border-radius:12px;position: relative; left:25%;color:#eb2121" id="demo">
    </a>
    <br>
</div>


