<br>
<div class="fifth">
  <h2 style="text-align:center;color:whitesmoke;font-size: 35px;">Faculty Details </h2>
  <br>
  <table border="2" style="background-color: cornsilk;border-radius:12px;margin-left:auto;margin-right:auto;border-collapse:collapse">
    <tr>
      <td>
  <div class="media">
    <img src="assets/prof5.jpg" class="align-self-start mr-3" style="width:160px;height: 200px;">
    <div class="media-body">
      <h4>Dr.Sahas</h4>
      <p>Contact Number : 9878767543</p>
      <p> Department : AI, ML, BigData</p>
    </div>
  </div>
  </td>
  <td>
  <div class="media mt-3">
    <img src="assets/prof1.png" class="align-self-center mr-3" style="width:160px;height:200px;">
    <div class="media-body">
      <h4>Dr.Veer</h4>
      <p>Contact Number : 9889768765</p>
      <p> Department : Data Science</p>
    </div>
   </div>
   </td>
   <td>
  <div class="media mt-3">
    <img src="assets/pro1.png" class="align-self-end mr-3" style="width:160px;height: 200px;">
    <div class="media-body">
      <h4>Dr.Jessy</h4>
      <p>Contact Number : 9879769876</p>
      <p> Department : AI, ML, BigData</p>
    </div>
  </div>
  </td>
</tr>
<tr>
  <td>
  <div class="media mt-3">
    <img src="assets/pro3.jpg" class="align-self-end mr-3" style="width:160px">
    <div class="media-body">
      <h4>Dr.Anjali</h4>
      <p>Contact Number : 9887689769</p>
      <p> Department : Filmography</p>
    </div>
  </div>
</td>
<td>
  <div class="media mt-3">
    <img src="assets/pro2.png" class="align-self-end mr-3" style="width:160px">
    <div class="media-body">
      <h4>Dr.Shivani</h4>
      <p>Contact Number : 8798765678</p>
      <p> Department : Virtual Reality</p>
    </div>
  </div>
</td>
<td>
  <div class="media mt-3">
    <img src="assets/prof2.jpg" class="align-self-end mr-3" style="width:160px;height: 200px;">
    <div class="media-body">
      <h4>Dr.Krishna</h4>
      <p>Contact Number : 8767897654</p>
      <p> Department : IOT</p>
    </div>
  </div>
  </td>
</tr>
<tr>
  <td>
  <div class="media mt-3">
    <img src="assets/pro3.jpg" class="align-self-end mr-3" style="width:160px">
    <div class="media-body">
      <h4>Dr.Sahithi</h4>
      <p>Contact Number : 8989876543</p>
      <p> Department : Advancedmaterials </p>
    </div>
  </div>
  </td>
  <td>
  <div class="media mt-3">
    <img src="assets/pro4.jpg" class="align-self-end mr-3" style="width:160px">
    <div class="media-body">
      <h4>Dr.Sanjay</h4>
      <p>Contact Number : 9987876543</p>
      <p> Department : QuantumComputing &<br>EdgeComputing</p>
    </div>
  </div>
  </td>
  <td>
  <div class="media mt-3">
    <img src="assets/prof6.jpg" class="align-self-end mr-3" style="width:160px">
    <div class="media-body">
      <h4>Dr.Ewin</h4>
      <p>Contact Number : 9987877765</p>
      <p> Department : AstroPhysics</p>
    </div>
  </div>
  </td>
  </tr>
</table>
  
</div>