<div>
</div>
  <table  class="container">
  <tr>
  <td>
  <div class="first">
    <div>
      <img class="img1" src="../assets/image01.jpg" alt="camera" width="100" height="150">
    </div>
    <div>
       <b><U>17/03/2021-Launching The MFA In Film Making</U></b><br>
      <p>The MFA in Cinema & Media Production is designed as a challenging advanced 
         degree for students already experienced and committed to a career in film,
         television, and new media production. The program is ideal for those with an
         undergraduate degree in narrative fiction film and television production or
         those with significant production experience.It is composed of students seeking 
         to advance their skills, with the aim of providing an opportunity to create an
         exceptional, groundbreaking film of professional quality that will launch their
         professional careers.Online students have access to the same resources and alumni 
         network as traditional Drexel University students. These resources include 24/7 
         access to remote library services, academic advising, career services, and mental 
         health counseling.MFA students may participate in optional study abroad experiences 
         and community outreach opportunities.
      </p>
    </div>
  </div>
  </td>
  <td>
  <div class="second">
    <label class="i">Online Compiler</label><br>
    <form class="f">
    <label for="uname">Username</label>
    <input type="text" style="width: 6cm;border-radius: 12px;" placeholder="Enter Username" name="uname" required><br><br>
    <label for="psw">Password</label>
    <input type="password" style="width: 6cm;border-radius: 12px;" placeholder="Enter Password" name="psw" required><br>
      <span class="psw"><a href="#" style="color: whitesmoke;">forgot your details?</a></span><br>
    <button type="submit"  style="width: auto; border-radius: 12px;" >Login</button>
    </form>
  </div>
  </td>
  </tr>
  <tr>
    <td>
      <div class="third">
      <strong style="font-family: cursive;font-size: 16px;color: lightskyblue;">Welcome {{getPerson()}}!</strong>
      <br>
      <p style="font-family: cursive; color: brown;">
        Are you looking for a degree that is available fully Online<br>
        ,that is going to make an impact in your life and in your job?
      </p>
      
      <p style="font-family: cursive; color: brown;">
        Are you looking for something different, modern, truly
        <br>international yet adapted to you and your culture?
      </p>

      <p style="font-family:cursor; color: chocolate;font-size: large; text-align: left;">
        <i><strong>American University</strong> has the best solution for you.</i>
      </p>
      
      <p style="font-family: cursive; color:teal">
        Our mission is to provide the educational experiences that <br>
        fits our students need in any part of the worls and contribute <br>
        to their personal and professional fulfillment
      </p>
<br>
      <p style="font-family: cursive; color: teal;">
        we provide programs that are flexible in time, that take into<br>
         account the person's experience and that are affordable. We <br>
        are specalized in distinct education but also offer on0campus
        <br> programs. 
      </p>
      <br><br><br>
      <div style="background-color: lightsteelblue; display: flex;
      align-items: center;
      justify-content: center">
        <div>
      <img src="../assets/image05.jpg" style="width:50px;height:30px; border-radius: 12px; -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));">
      </div>
      <div style="padding-left: 20px;">
      <p style="font-family: cursive;">For detailed course information click <a href="http://localhost:4200/course" class="alert-link">here</a>.</p>
    </div>
    </div>
    </div>
    <div class="fourth">
      <div style="background-color:rgb(226, 231, 238); height: 180px; width: auto;">
      <i><strong style="color: rgb(53, 138, 190);font-size: 16.5px;">Campus Study</strong></i>
      <div>
        <img class="img2" src="../assets/image02.jpg" alt="campus" width="150" height="160">
      </div>
      <div>
      <p style="text-align: justify;font-family: cursive;"> 
        Our campus programs allow you to interact with faculty and other students 
        during residency periods and complete your work online. It is another
        flexible solution that will certainly enhance your professional life.
      </p>
      </div>
      </div>
      <div style="background-color: rgb(132, 197, 238); height:auto;padding-left: 0px; width: auto;display: flex;
      align-items: center;
      justify-content: center">
      <div>
        <img src="../assets/image03.jpg" style="width:150px;height:150px;">
        </div>
<div style="padding-left: 20px;">
      <i><strong style="color: rgb(54, 37, 204);font-size: 17px;">Online study</strong></i>
      <p style="text-align: justify;font-family: cursive;">
        Our online programs allow you to work at your own pace while you keep your job 
        and your activities.You can pursue a quality education without leaving home,This
        option is also less costly and available any country in the world where you live.
      </p>
      </div>
      </div>

      <div style="background-color: rgb(226, 231, 238); height: 150px; width: auto;">
        <div style="display: flex;
        align-items: center;
        justify-content: left">
        <div>
          <img src="../assets/image04.jpg" style="width:50px;height:50px;">
          </div>
          <div style="padding-left: 20px;">
         <i><strong style="color: rgb(49, 48, 51);">Experience The new Virtual Campus</strong></i>
        </div>
        </div>
        <p style="text-align: justify;font-family: cursive;">
          A Master of Fine Arts is a terminal degree in fine arts, including visual arts,<br>
          creative writing, graphic design, photography, filmmaking, dance, theatre, other<br>
          performing arts and in some cases, theatre management or arts administration. 
        </p>
        </div>
      </div>
    </td>
  </tr>

  </table>

