<br>
<div class="fifth">
<h2 style="text-align:center;font-family: cursive;color: whitesmoke;font-size: 35px;">American University News Letter </h2>  
<br>
<h2 style="text-align:center;font-family: cursive;color: whitesmoke;font-size: 35px;">UPCOMING EVENTS</h2>
<table style="background-color:  yellow ;margin-left:auto;margin-right:auto;border: 1px solid red;
border-collapse: collapse;background-image: url(../assets/gif2.gif);background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;">
    <tr style="border: 1px dodgerblue;
    border-collapse: collapse;">
        <td class="over"style="border: 5px dodgerblue;
        border-collapse: collapse;">
            <img src="../assets/lbqt.jpg" width=400 height=200><br><h4 style="text-align: center;margin-left:auto;margin-right:auto;color: yellow">LBQT AREA SAPCE<br>[saturday november 6,2021]<br>[2:30pm to 4:00pm] at Block-I mini hall<br>By: K.Auparent<br>Any Queries mail to: <u>auparent@american.edu.</u></h4>
        </td>
        <td class="over" style="border: 5px dodgerblue;
        border-collapse: collapse;">
            <img src="../assets/fall.jpg" width=400 height=200><br><h4 style="text-align: center;margin-left:auto;margin-right:auto;color: yellow">FALL GRADUATION<br>[tuesday november 9,2021]<br>[9:30am to 1:00pm] at Block-II Auditorium<br>By: S.Kriti Kumari[GRADUATION EVENT]<br>Any Queries mail to: <u>kriti@american.edu.</u></h4>
        </td>
        <td class="over" style="border: 5px dodgerblue;
        border-collapse: collapse;">
            <img src="../assets/AU.jpg" width=400 height=200><br><h4 style="text-align: center;margin-left:auto;margin-right:auto;color: yellow">AU GROUP MEETING<br>[saturday november 13,2021]<br>[6:00pm to 7:00pm] at Block-I mini hall<br>By: P.Sameera<br>Any Queries mail to: <u>sameera@american.edu.</u></h4>
        </td>
    </tr>
    <tr style="border: 1px dodgerblue;
    border-collapse: collapse;">
        <td class="over" style="border: 5px dodgerblue;
        border-collapse: collapse;">
            <img src="../assets/decolinising.jpg" width=400 height=200><br><h4 style="text-align: center;margin-left:auto;margin-right:auto;color: yellow">DECOLINISING ECONOMIC WORKSHOP<br>[saturday november 6,2021]<br>[9:30am to 11:00am] at Block-III Auditorium<br>By: Dr.Ewin<br>Any Queries mail to: <u>ewin@american.edu.</u></h4>
        </td>
        <td class="over" style="border: 5px dodgerblue;
        border-collapse: collapse;">
            <img src="../assets/anime.jpg" width=400 height=200><br><h4 style="text-align: center;margin-left:auto;margin-right:auto;color:yellow">ANIME CLUB MEETING<br>[wednesday november 10,2021]<br>[9:30am to 1:00pm] at Block-II mini hall<br>By: J.Adhwik Kelvin<br>Any Queries mail to: <u>adhwik@american.edu.</u></h4>
        </td>
        <td class="over" style="border: 5px dodgerblue;
        border-collapse: collapse;">
            <img src="../assets/student.jpg" width=400 height=200><br><h4 style="text-align: center;margin-left:auto;margin-right:auto;color: yellow">STUDENT STRESS OVERCOME<br>[saturday november 13,2021]<br>[4:00pm to 5:30pm] at Block-I Room No:120 Ground Floor<br>By: K.Sahil Kumar<br>Any Queries mail to: <u>sahil@american.edu.</u></h4>
        </td>
    </tr>
    </table>
