<br>
<br>
<div class="fifth">
    <br>
    <I><h2 style="text-align: center;color: red;">Programs/Courses</h2></I>
    <table border="2" style="background-color: seashell;margin-left:auto;margin-right:auto;border-collapse:collapse">
        <thead>
            <tr style="background-color: silver;">
              <th>Course Name</th>
              <th>Course ID</th>
              <th>Course Duration</th>
              <th>Mode</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Artificial Intelligence</td>
                <td>AMU101</td>
                <td>16 months</td>
                <td>online/offline</td>
            </tr>

            <tr>
                <td>Machine Learning</td>
                <td>AMU102</td>
                <td>6 months</td>
                <td>online/offline</td>
            </tr>

            <tr>
                <td>Data Science</td>
                <td>AMU103</td>
                <td>12 months</td>
                <td>online/offline</td>
            </tr>

            <tr>
                <td>Big Data</td>
                <td>AMU104</td>
                <td>8 months</td>
                <td>online/offline</td>
            </tr>

            <tr>
                <td>IOT</td>
                <td>AMU105</td>
                <td>6 months</td>
                <td>online/offline</td>
            </tr>

            <tr>
                <td>Agriculture</td>
                <td>AMU106</td>
                <td>36 months</td>
                <td>offline</td>
            </tr>

            <tr>
                <td>Block Chain</td>
                <td>AMU107</td>
                <td>9 months</td>
                <td>online/offline</td>
            </tr>

            <tr>
                <td>Astrophysics</td>
                <td>AMU108</td>
                <td>10 months</td>
                <td>online/offline</td>
            </tr>

            <tr>
                <td>Virtual Reality</td>
                <td>AMU109</td>
                <td>11 months</td>
                <td>online/offline</td>
            </tr>

            <tr>
                <td>Drone and AUV's</td>
                <td>AMU110</td>
                <td>12 months</td>
                <td>offline</td>
            </tr>

            <tr>
                <td>NanoTechnology</td>
                <td>AMU111</td>
                <td>36 months</td>
                <td>online/offline</td>
            </tr>

            <tr>
                <td>Automation</td>
                <td>AMU112</td>
                <td>12 months</td>
                <td>online/offline</td>
            </tr>

            <tr>
                <td>EdgeComputing</td>
                <td>AMU113</td>
                <td>30 months</td>
                <td>online/offline</td>
            </tr>

            <tr>
                <td>Advancedmaterials</td>
                <td>AMU114</td>
                <td>20 months</td>
                <td>offline</td>
            </tr>

            <tr>
                <td>QuantumComputing</td>
                <td>AMU115</td>
                <td>24 months</td>
                <td>offline</td>
            </tr>

            <tr>
                <td>CyberSecurity</td>
                <td>AMU116</td>
                <td>32 months</td>
                <td>online/offline</td>
            </tr>
            <tr>
                <td>FilmoGraphy</td>
                <td>AMU117</td>
                <td>24 months</td>
                <td>offline</td>
            </tr>

        </tbody>
        

    </table>

</div>